@import url("https://birdone.click/web-v2/src/style_old.css");

body {
  background-color: #222;
  color: #fff;
  margin: 2%;
}

.col98 {
  align: center;
  float: left;
  width: 30%;
  padding: 10px;
  margin: 10%;
  background-color: #666;
  color: #fff;
  border-radius: 2%
}
  
.padd98 {
  width: 2%;
  margin:2%;
 }

.row:after {
  content: "";
  display: table;
  clear: both;
}